<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IWMS.Solutions.Server.BinServiceProvider.Properties.Settings.IWMSConnectionString"
            connectionString="Data Source=SUJATHVM1;Initial Catalog=IWMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />        
    </connectionStrings>
</configuration>